
run_training_script/training_folder/.DS_Store
run_training_script/.DS_Store
run_training_script/training_folder/.DS_Store
run_training_script/training_folder/.DS_Store
run_training_script/training_folder/.DS_Store
